<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_Management_Software.Properties.Settings.MainDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\MainDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>